@media (width > 1200px) {
  .App {
    width: 100%;
    height: 100%;
  }

  .displayText {
    width: 300px;
    height: 40px;

    text-align: center;
    background-color: #ccc;

    position: absolute;
    top: 20px;
    right: 50%;
    transform: translate(50%);
    border-radius: 4px;
    box-shadow: #0008 -5px 5px 5px;
  }
  .popupWrapper {
    width: 100%;
    height: 100%;
    position: absolute;

    display: none;
    align-items: center;
    justify-content: center;
    background-color: #0006;
  }
  .popup {
    width: 300px;
    height: 100px;
    background-color: #bbb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: #0008 -5px 5px 5px;
  }
  .popupBtn {
    border: none;
    background-color: #fff;
    padding: 10px;
  }
  .popupBtn:hover {
    background-color: #eee;
  }

  .scoreContainer {
    width: 200px;
    height: 400px;
    background-color: #ccc;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40px;
    box-shadow: #0008 -10px 10px 5px;
    left: 50px;
  }
  .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 90%;
    height: 80px;
    margin-top: 20px;
    background-color: #999;
  }
}

@media (width < 321px) {
  .App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .displayText {
    text-align: center;
    padding-top: 10px;
    width: 70%;
    height: 50px;
    background-color: #ccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .popupWrapper {
    width: 100%;
    height: 100%;
    position: absolute;

    display: none;
    align-items: center;
    justify-content: center;
    background-color: #0006;
  }
  .popup {
    width: 200px;
    height: 100px;
    background-color: #bbb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: #0008 -5px 5px 5px;
  }
  .popupBtn {
    border: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
  }
  .scoreContainer {
    width: 290px;
    height: 100px;

    background-color: #ccc;
    margin-top: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 40%;
    height: 80px;
    background-color: #999;
  }
  .oppenDifOpts{
    width: 40px;
    height: 30px;

    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .lineOpenDif{
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background-color: #fff;
  }
}
