.item {
  position: relative;
  display: flex;
  /* align-content: center; */

  height: 37px;
  width: 300px;
  padding: 2px;
  margin-top: 5px;
  background-color: #ddd;
}
.item:hover {
  background-color: #5553;
}
.box {
  margin-left: 5px;
}
input:checked ~ label {
  text-decoration: line-through;
}

label {
  display: flex;
  align-items: center;

  font-size: 15pt;

  height: 90%;
  width: 70%;

  margin-left: 5px;
  overflow: hidden;
}

.imgConteinner {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 5px;

  width: 30px;
  height: 30px;

  cursor: pointer;
  border-radius: 20px;
}
.imgConteinner:hover {
  background-color: #0005;
}
.imgEdit{
  right: 30px;
}
img {
  height: 20px;
}

.boxModel {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background-color: #fff;  
  padding: 10px;
}
.btnEdit{
  position: absolute;
  left: 245px;
  top: 5px;
}
.btnCancelEdit{
  position: absolute;
  left: 40px;
  top: 5px;
}